<div class="container">

<!-- Navigation Bar-->  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3"  >
    <Div style="margin-left: 5px;"> <a class="navbar-brand" href="#">Home</a></Div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="registration" class="nav-link" routerLinkActive="active">  
            Registration  
          </a> 
        </li>
        <li class="nav-item">
          <a routerLink="logging" class="nav-link" routerLinkActive="active">
            Log In 
          </a> 
        </li>
        <li class="nav-item">
          <a routerLink="simulator" class="nav-link" routerLinkActive="active">
            Scor Simulator
          </a> 
        </li>
      </ul>
    </div>
  </nav>


<!-- Home Page-->
  <Div>
   <h1> Welcome to The Student Portal</h1>
  </Div>
  
<!-- Routing Page-->  
  <div class="container">  
    <router-outlet></router-outlet>  
  </div> 

</div>